html {
  scroll-behavior: smooth;
}

body {
  @apply text-lg;
}

/* color */
.bg-primary {
  background: #e5e5e5;
}

.bg-secondary {
  background: #606060;
}

.text-black {
  color: #181717;
}

.text-gray {
  color: #606060;
}
