@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  @apply text-lg;
}

/* color */
.bg-primary {
  background: #e5e5e5;
}

.text-black {
  color: #181717;
}

.text-gray {
  color: #606060;
}

nav li a {
  @apply px-4 py-5 text-lg;
}

.mobile-nav {
  @apply block md:hidden fixed top-10 py-2 w-full h-full duration-500;
}
